.zoom{
    /* transition: transform .5s; */
    margin: auto;
    /* margin-left: 60vh; */
    max-width: 60vh;
}
/* .zoom:hover {
    transform: scale(1.6,1.3)
  } */
  .invisible {
    visibility: hidden !important;
  }
  .visible {
    visibility: visible !important;
  }
  .errorMessage{
    color: red;
  }

  .srcImage{
    margin: 10px auto;
    max-width : 70vh;
    max-height : 60vh;
  }


  